/.idea/
/data/organic-formula-name/train/name/
/data/organic-formula-name/train/formula/
/data/organic-formula-name/test/name/
/data/organic-formula-name/test/formula/
/data/inorganic-organic-formula-name/train/inorganic-name/
/data/inorganic-organic-formula-name/train/inorganic-formula/
/data/inorganic-organic-formula-name/train/organic-name/
/data/inorganic-organic-formula-name/train/organic-formula/
/data/inorganic-organic-formula-name/test/inorganic-name/
/data/inorganic-organic-formula-name/test/inorganic-formula/
/data/inorganic-organic-formula-name/test/organic-name/
/data/inorganic-organic-formula-name/test/organic-formula/
/data/formula-name/train/formula/
/data/formula-name/train/name/
/data/formula-name/test/formula/
/data/formula-name/test/name/
/data/formula-inorganic-organic/train/organic/
/data/formula-inorganic-organic/train/inorganic/
/data/formula-inorganic-organic/test/organic/
/data/formula-inorganic-organic/test/inorganic/
/data/name-inorganic-organic/test/inorganic/
/data/name-inorganic-organic/test/organic/
/data/name-inorganic-organic/train/inorganic/
/data/name-inorganic-organic/train/organic/
/data/data-model/
/src/builder/__pycache__/
/src/api/__pycache__/
