/.idea/
/builder/data/organic-formula-name/train/name/
/builder/data/organic-formula-name/train/formula/
/builder/data/organic-formula-name/test/name/
/builder/data/organic-formula-name/test/formula/
/builder/data/inorganic-organic-formula-name/train/inorganic-name/
/builder/data/inorganic-organic-formula-name/train/inorganic-formula/
/builder/data/inorganic-organic-formula-name/train/organic-name/
/builder/data/inorganic-organic-formula-name/train/organic-formula/
/builder/data/inorganic-organic-formula-name/test/inorganic-name/
/builder/data/inorganic-organic-formula-name/test/inorganic-formula/
/builder/data/inorganic-organic-formula-name/test/organic-name/
/builder/data/inorganic-organic-formula-name/test/organic-formula/
/builder/data/formula-name/train/formula/
/builder/data/formula-name/train/name/
/builder/data/formula-name/test/formula/
/builder/data/formula-name/test/name/
/builder/data/formula-inorganic-organic/train/organic/
/builder/data/formula-inorganic-organic/train/inorganic/
/builder/data/formula-inorganic-organic/test/organic/
/builder/data/formula-inorganic-organic/test/inorganic/
/builder/data/name-inorganic-organic/test/inorganic/
/builder/data/name-inorganic-organic/test/organic/
/builder/data/name-inorganic-organic/train/inorganic/
/builder/data/name-inorganic-organic/train/organic/
